@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="Container-Fluid">

    <div class="row">

        <div class="col-md-4 caixaStyle">
            <div class="col-md-12" id="divItemDashboard1">
            </div>
        </div>

        <div class="col-md-4 caixaStyle">
            <div class="col-md-12" id="divItemDashboard2">
            </div>
        </div>

        <div class="col-md-4 caixaStyle">
            <div class="col-md-12" id="divItemDashboard3">
            </div>
        </div>

        <div class="col-md-4 caixaStyle">
            <div class="col-md-12" id="divItemDashboard4">
            </div>
        </div>

        <div class="col-md-4 caixaStyle">
            <div class="col-md-12" id="divItemDashboard5">
            </div>
        </div>

        <div class="col-md-4 caixaStyle">
            <div class="col-md-12" id="divItemDashboard6">
            </div>
        </div>
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="css/dashboardCustomizavel.css" rel="stylesheet" />
<script src="js/dashboardCustomizavel.js"></script>
<script src="js/dashboardPortal.js"></script>