@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">


    <div class="row">
        <div class="col-md-4 caixaStyle">
            <div class="col-md-12" id="divitemDashBord1">
            </div>
        </div>

        <div class="col-md-4 caixaStyle">
            <div class="col-md-12" id="divitemDashBord2">
            </div>
        </div>

        <div class="col-md-4 caixaStyle">
            <div class="col-md-12" id="divitemDashBord3">
            </div>
        </div>

        <div class="col-md-4 caixaStyle">
            <div class="col-md-12" id="divitemDashBord4">
            </div>
        </div>

        <div class="col-md-4 caixaStyle">
            <div class="col-md-12" id="divitemDashBord5">
            </div>
        </div>

        <div class="col-md-4 caixaStyle">
            <div class="col-md-12" id="divitemDashBord6">
            </div>
        </div>
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/css/ObjetoItemDashBoard.css" rel="stylesheet" />
<script src="~/js/ObjetoItemDashBoard.js"></script>
<script src="~/js/dashBoardPortal.js"></script>
